@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Regular.5d8931fe.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Medium.773f599c.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-SemiBold.5862cc74.woff2');
    font-weight: 600;
}

* {
	font-family: "Pretendard", sans-serif;
}